h1 {
    text-align: center;
    padding: 50px;
    font-size: 2.5em;
    font-family:'Franklin Gothic Medium';
    font-weight: bold;
}
h3 {
    text-align:center;
    font-family: 'Franklin Gothic Medium';
    font-weight: lighter;
}
h2{
    text-align: center;
}
ul{
    text-align: center; 
}